---
import Layout from "../../layouts/Layout.astro";
import CompanyDetail from "../../components/CompanyDetail.astro";
import data from "../../data/companies.json";
const companies = data.companies;

import Button from "../../components/Button.astro";
const company = companies.find(
  (c) => c.slug === "building-maintenance-solutions"
);
---

<Layout title={company?.name}>
  <h1>{company?.name}</h1>
  {company && <CompanyDetail company={company} />}
</Layout>
